main {
  height: 500px;
  width: 400px;
  padding: 10px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      margin: 0;
    }
    .icon {
      cursor: pointer;
      color: red;
    }
  }
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;

  textarea {
    resize: none;
    width: 100%;
  }
  .btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}
